html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1542202229-7d93c33f5d07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;

}

.grid {
    font-family: fantasy;
    width: 400px;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    font-size: 80px;
    text-align: center;
    color: rgb(40, 155, 88);
}

.beto {
    width: 60px;
    height: 85px;
    background-color: transparent;
    position: absolute;
    background-image: url(./naruto.png);
    background-size: cover;
    background-position: center;
}

.platform {
    width: 60px;
    height: 45px;
    padding: 0px;
    background-image: url(./tree_branch.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}


